body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Header Styles */

#header {
    background-color: #b0a6a6;
    color: #060606;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img {
    margin-left: 40px;
}

.logo {
    height: 70px;
}

#navbar li {
    display: inline;
    margin-right: 40px;
    font-size: larger;
    text-shadow: #ae0a9b;
    text-decoration: wavy;
    text-transform: capitalize;
}

#navbar a {
    color: #161616;
    text-decoration: none;
}

#navbar a:hover {
    color: #a46c6c;
    text-decoration: none;
}


/* Banner Styles */

#banner {
    background-image: url('zara.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
}

.banner-text {
    color: #101010;
}

.banner-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 90px;
}

.banner-text p {
    font-size: 25px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #faf6f6;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}


/* Featured Products Styles */

#featured-products {
    padding: 50px 0;
    text-align: center;
}

#featured-products h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-item {
    width: 190px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.product-item img {
    width: 130%;
    height: 300px;
    object-fit: scale-down;
    margin-bottom: 30px;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-item p {
    margin-bottom: 10px;
}


/* Blog Styles */

#blog {
    background-color: #dfdada;
    padding: 50px 0;
    text-align: center;
    font-size: larger;
}

#blog h2 {
    text-align: center;
    font-size: larger;
    text-decoration: wavy;
}

.blog-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.blog-post {
    width: 250px;
    margin: 20px;
    text-align: center;
}

.blog-post img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.blog-post h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.blog-post p {
    margin-bottom: 10px;
}